.container{
 display: flex;
 justify-content: center;
 margin-top: 2vh;   
}

.container .main-container{
    width: 350px;
    padding: 20px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(95, 95, 95, 0.616);
    border-radius: 10px;
}

.container .main-container .img img{
    width: 150px;
}

.container .main-container .button{
    display: flex;
    justify-content: space-around;
}

.container .main-container .button a{
    margin-top: 15px;
}

.main .text{
    margin-top: 0;
    padding-top: 0;
}
.main {
    margin-top: 1vh;
}

.input{
    display: flex;
    justify-content: center;
}

.container .main-container .img img{
    display: block;
}

.input input{
    width: 350px;
}



.main .text h1{
    color: rgb(88,182,192);
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
}

.main .text h1 span{
    color: rgb(122,140,142);
}

