
.main-title{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    color: white;
    border-radius: 10px 10px 0 0;

}


.qr-box input{
    width: 90%;
    padding: 10px;
    
}

.qr-box{
    display: grid;
    justify-content: center;
    place-items: center;
    margin-top: 10vh;
    border-radius: 10px 10px 10px 10px;
}