.main{
    display: flex;
    justify-content: center;
}

.main .input .title{
    padding: 1px;
    padding-top: 10px;
    color: white;
    border-radius: 10px 10px 0 0;
    width: 450px;
}

.main .input{
    margin-top: 20vh;
}

.main .input .form{
    padding: 20px;
    border-radius: 0 0 10px 10px;
}



