nav .Profile{
  width: 60px; 
  height: 60px; 
  text-align: center; 
  border-radius: 100px;  
  cursor: pointer; 
  background-color: #ddd;
  overflow: hidden;
  border: solid 2px rgb(179, 179, 179);
}

.dashboard span{
  position: absolute;
  background-color: gray;
  padding: 5px;
  border-radius: 10px;
 opacity: 0;
 margin-left: 5px;
 pointer-events: none;
}
nav .Profile i{
  font-size: 50px;
  margin-top: -10px;
  color: gray;
}

/* notification */
.notification-nav{
  position: absolute;
  top: 80px;
  background-color: #ddd;
  width: 285px;
  height: 90vh;
  margin-left: 115px;
  overflow: scroll;
  z-index: 99;
  transition: 0.3s;
}

.notification-content{
  padding: 10px;
}

.triangle-up {
  position: absolute;
  margin-left: 125px;
  top: 70px;
  z-index: 999;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #ddd;
}

/* DashBoard */

nav i{
  text-align: center;
}

nav i .span{
  position: absolute;
  margin-top: 30px;
  width: 100px;
  margin-left: -59px;
  padding: 10px;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

nav .btn i span{
  position: absolute;
  margin-top: 27px;
  width: 100px;
  margin-left: -59px;
  padding: 10px;
  font-size: 12px;
  opacity: 0;
  transition: 0.2s;
}

nav .btn:hover i span{
  position: absolute;
  margin-top: 27px;
  width: 100px;
  margin-left: -59px;
  padding: 10px;
  font-size: 12px;
  opacity: 1;
}
 
.navbar-select .img .profile {
  border: solid 2px rgb(49, 49, 49);
  overflow: hidden;
}

.navbar-select .img .profile i{
  font-size: 85px;
  margin-top: 20px;
  margin-left: 10px;
  color: gray;
}

.dashboard i:hover span{
  opacity: 1;
  font-size: 15px;
  font-family: normal;
  pointer-events: none;
}


.navbar-select  .fa-camera{
  position: relative;
  top: 75px;
  font-size: 15px;
  margin-left: -30px;
  color: rgb(228, 228, 228);
  background-color: rgb(49, 49, 49);
  padding: 5px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
}


.nav-fas{
  background-color: rgb(7, 150, 150);
  color: black;
  padding: 2px;
  padding-left: 20px;
  border-radius: 5px;
}



.fas{
  margin-right: 5px;
  color: white;
}

.user{
  display: none;
}

table tr td{
  cursor: pointer;
}

.section .hover:hover{
  background-color: rgb(109, 165, 165);
  color: white;
}

.section thead:hover{
  background-color: transparent;
  color: black;
}




.homepage a{
  margin-left: 10px;
}

/*search bar & table */

.main{
 display: flex;
}

.table{
 padding-right: 10px;
 padding-top: 15px;
}

.main .searchbar{
  padding: 15px;

}


