
 .nav-fas{
    background-color: rgb(7, 150, 150);
    color: black;
    padding: 2px;
    padding-left: 20px;
    border-radius: 5px;
  }

  .fas{
    margin-right: 5px;
    color: white;
  }

.user{
  display: none;
}

table tr td{
  cursor: pointer;
}

.section .hover:hover{
  background-color: rgb(109, 165, 165);
  color: white;
}

.section thead:hover{
  background-color: transparent;
  color: black;
}




.homepage a{
  margin-left: 10px;
}

/*search bar & table */

.main{
 display: flex;
}

.table{
 padding-right: 10px;
 padding-top: 15px;
 /* border-right: solid 1px black; */

}

.main .searchbar{
  padding: 15px;

}





/* .sticky{
 
  position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    position: absolute;
    width: 65vh;
    
} */

