
 .nav-fas{
    background-color: rgb(7, 150, 150);
    color: black;
    padding: 2px;
    padding-left: 20px;
    border-radius: 5px;
  }

  .fas{
    margin-right: 5px;
    color: white;
  }

.user{
  display: none;
}

table tr td{
  cursor: pointer;
}

.section .hover:hover{
  background-color: rgb(109, 165, 165);
  color: white;
}

.section thead:hover{
  background-color: transparent;
  color: black;
}




.homepage a{
  margin-left: 10px;
}

/*search bar & table */

.main{
 display: flex;
}

.table{
 padding-right: 10px;
 padding-top: 15px;
 border-right: solid 1px black;

}

.main .searchbar{
  padding: 15px;

}

/* Drop */
body{
  font-family: Arial, Helvetica, sans-serif;
 }
 .dropbtn {
 background-color:transparent;
 color: white;
 font-size: 16px;
 border: none;
 position: relative;
left: 8px;
top: 20px;
}

.dropdown {
 position: relative;
 display: inline-block;
 
 
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 right: 10px;
 width: 120px;
 text-align: center;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 font-size: 12px;
}

/* a:hover{
 text-decoration: none;
} */

.dropdown-content a:hover {background-color: #ddd;
 }

.dropdown:hover .dropdown-content {display: block; 

}

.dropdown:hover .dropbtn {background-color: transparent;
}




/* .sticky{
 
  position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    position: absolute;
    width: 65vh;
    
} */

